*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #333;
    color: #fff;
}
.flex-container{
    display: flex;
    padding: 10px;
    width: 100%;
    max-width: 100px * 4 + 20;
    min-height: 200px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 4px;
    .item{
        width: 100px;
        line-height: 40px;
        min-height: 40px;
        // margin: 8px;
        text-align: center;
        opacity: .9;
        // border-radius: 4px;
        align-items: center;
        p{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        // &:after{
        //     content: '';
        //     display: inline-block;
        //     height: 100%;
        //     vertical-align: middle;
        // }
        &:nth-child(1){
            background: #584F84;
        }
        &:nth-child(2){
            background: #A7425C;
        }
        &:nth-child(3){
            background: #EA5959;
            height: 70px;
            line-height: 70px;
            font-size: 24px;
        }
        &:nth-child(4){
            background: #EF9B59;
            line-height: 50px;
        }
        &:nth-child(5){
            background: #FFD460;
        }
    }
}

.m-ctr{
    h3{
        font-size: 16px;
        em{
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
        }
    }
}

.m-select{
    display: inline-block;
    margin-right: 10px;
}